body{
  background-color: #EEE6DC;
}

li{
  list-style-type: none;
}

*{
    padding: 0;
    margin: 0; 
}

:focus-visible{
  outline: 0;
  box-shadow: 0 0 0 0.25rem #A3CAB8;
}

  #adv1{
    background-color: #A58548;
  }

  .adv{
    text-decoration: none;
    color: #EFE6DC;
    font-size: 1.3vw;
  }

  .banner{
    display: block;
    width:100%;
}

.navbar{
  color: #1C7A7F;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
  padding: 0;
  
}

.home{
    display: flex;
    align-items: normal;
}

.material-symbols-outlined{
  font-size:1.9vw;
}

.nav-item{
    list-style: none;
}

.btn{
  background-color: #1C7A7F  !important;
  color: #EEE6DC !important;
  border: none !important;
  height: 2.6vw;
  width: 3.6vw;
  margin-right: 5px;
}

.btn:hover{
  color: #323433 !important;
  background-color: #A3CAB8  !important;

}

.nav-link:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 0.25rem #A3CAB8;
}

.btn:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 0.25rem #A3CAB8;
}

input[type=search]:focus-visible{
  outline: 0;
  box-shadow: 0 0 0 0.25rem #A3CAB8;
}

.form-control:focus{
  background-color: #A3CAB8 !important;
  border-color: #1C7A7F !important;
  box-shadow: 0 0 0 0rem #1C7A7F;
}

.form-control{
  background-color: #A3CAB8 !important;
  height: 2.6vw;
  width:18.9vw ;
}

input[type=search]{
  font-size: 1.2vw;
  
}

input[type=icon]{
  font-size: 1.2vw;
  overflow-wrap: normal;
}

.container-footer{
  background-color: #A58548;
  color: #ffffff;
  font-size: 1.2vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding-top: 3.5vw ;
  padding-left: 6.0vw;
}
.row-footer{
  padding-left: 2rem;
  padding-bottom: 0.5vw;
}

